<%= form_for survey do |form| %>

  <div class="name-input">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.fields_for :questions do |form| %>
    <div class="question-input">
      <%= form.label "Question" %>
      <%= form.text_field :content %>
    </div>

    <%= form.fields_for :answers do |form| %>
      <div class="answer-input">
        <%= form.label "Answer" %>
        <%= form.text_field :choice %>
      </div>
    <% end %>
  <% end %>

  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>
