<div class="each-survey">
  <h2><%= survey.name %></h2>

  <h3>Share Survey: <%= link_to survey_url(survey), survey_url(survey) %></h3>

  <%= button_to "Delete", survey_path(survey), method: :delete, data: { confirm: "Are you sure you want to delete this survey?" }, class: "delete-survey-button" %>

  <%= button_to "Edit", edit_survey_path(survey), method: :get, class: "edit-survey-button" %>

  <%= button_to "Results", survey_results_path(survey), method: :get, class: "results-button" %>
</div>
