<!DOCTYPE html>
<html>
<head>
  <title>Formr</title>

  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', 'normalize', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="right-controls">
    <% if signed_in? %>
      <%= link_to "Sign out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_session_path %>
      <%= link_to "Sign up", new_user_path %>
    <% end %>
  </div>

  <div class=<%= big_logo? %> >
    <%= link_to "Formr", root_path %>
  </div>

  <%= yield %>
</body>
</html>
